<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>Detalhamento do Filme</h1>

    <iframe width="550" height="325" 
            src="https://www.youtube.com/watch?v=OY9A3vubQM0" 
            title="Vídeo YouTube" >
    </iframe>

       
        <ul>
            <li>
                <h2>Título</h2>
                <p>{{titulo}}</p>           
            
            <li>
                <h2>Origem</h2>
                <p>{{origem}}</p>
            </li>
            
            <li>
                <h2>Gênero</h2>
                <p>{{genero}}</p>
            </li>
            
            <li>
                <h2>Lançamento</h2>
                <p>{{data}}</p>
            </li>
            
            <li>
                <h2>Diretor</h2>
                <p>{{diretor.nome}} {{diretor.sobrenome}}</p>
            </li>
            
            <li>
                <h2>Resenha</h2>
                <p>{{descricao}}</p>
            </li>
           
        </ul>
    

</body>
</html> 