{% extends 'global/paginas/base_inicio.html' %}
{% load static %}

{% block css_app %}
<link rel="stylesheet" href="{% static 'nacionais/css/estilos.css' %}">
{% endblock css_app %}


{% block head_app %} 
{% include 'nacionais/parciais/head.html' %} 
{% endblock head_app %}

{% block menu_app %}
{% include 'nacionais/parciais/menu.html' %} 
{% endblock menu_app %}


{% block tabela_app %}
    {% for item in todos %}
    {% if item.origem == 'Filme Nacional' %}
    {% include 'nacionais/parciais/tabela.html' %}
    {% endif %}
    {% endfor %}
{% endblock tabela_app %}
